
header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 80px;
}

#topImg {
    width: 77px;
    height: 53px;
}

.buttons {
    margin-top: 10px;
}

.noite {
    background-color: black;
    color: white;
}